@model RentalApp.Models.Rental

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="newRental" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer" id="customer" class="control-label">Customer</label>
                <select asp-for="Customer" class="form-control" asp-items="ViewBag.CustomerId">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie" id="movie" class="control-label">Movie</label>
                <select  multiple asp-for="Movie" class="form-control" asp-items="ViewBag.MovieId">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Movie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
